# Express MongoDB Backend URL
NEXT_PUBLIC_BACKEND_URL=https://api.hogwartsstudios.com

# n8n Automation Webhooks
N8N_CONFIRM_PAYMENT_WEBHOOK_URL=https://hogwartsautomation.app.n8n.cloud/webhook/confirm-payment-link
N8N_SEND_PROPOSAL_WEBHOOK_URL=https://hogwartsautomation.app.n8n.cloud/webhook/send-proposal
N8N_SEND_PAYMENT_LINK_WEBHOOK_URL=https://hogwartsautomation.app.n8n.cloud/webhook/send-payment-link
